.connection {

    &__container {
        .container;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__items {
        display: flex;
        flex-direction: row;
        gap: 64px;

    }
}