.card-event{
    box-sizing: border-box;
    display: flex;

}
.card-event__link{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    color: #1F1E1E;
}
.card-event__link:hover .card-event__title{
    color:#A51505;
    text-decoration-color: #A51505;
}
.card-event__picture {
    position: relative;
    display: block;
    margin: 0 0 25px;
    font-size: 0;
    width: 100%;
    text-decoration: none;
    overflow: hidden;
}
.card-event__picture::before {
    content: '';
    display: block;
    width: 100%;
    padding-top: 107.160%;
}

.card-event__picture{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-event__title{
    margin: 0 0 auto;
    min-height: 64px;
    text-decoration: underline;
    text-decoration-color: transparent;
    color: #1F1E1E;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: color 0.2s, text-decoration-color 0.23s;
}
.card-event__text{
    margin: 15px 0;
    color: #1F1E1E;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;

}
.card-event__time{
    display: block;
    margin-top: auto;
    color: #1F1E1E;
    font-size: 14px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
}