.leaf{
    .container;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    gap: 300px;
    align-items: center;


    &__icon{
        color: @black;
    }
    &__icon--1{
        transform: rotate(180deg);
    }

    &__btn{
        border: none;
        background-color: transparent;
        
    }
}


